beautifulsoup4==4.10.0
betterproto==1.2.5
certifi==2021.10.8
charset-normalizer==2.0.7
grpclib==0.4.2
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
multidict==5.2.0
requests==2.26.0
robobrowser==0.5.3
six==1.16.0
soupsieve==2.2.1
stringcase==1.2.0
urllib3==1.26.7
Werkzeug==2.0.2
