beautifulsoup4==4.9.1
betterproto==1.2.5
certifi==2020.6.20
chardet==3.0.4
grpclib==0.4.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
idna==2.10
lxml==4.5.2
multidict==4.7.6
requests==2.24.0
robobrowser==0.5.3
six==1.15.0
soupsieve==2.0.1
stringcase==1.2.0
urllib3==1.25.10
Werkzeug==1.0.1
